<style>
	::selection {
		color: white;
		background: #568C03;
	}

    h1 {
        font-weight: bold;
        font-size: 30px;
		color: black;
    }

    h2 {
        font-weight: bold;
        font-size: 25px;
		color: white;
    }

	p {
		color: white;
	}

	.imagem-fundo-teste {
		background-color: #f8efe5;
		min-height: 500px;
	}

	.coluna-padding-top {
		padding-top: 100px;
	}

    .fundo-imagem-1 {
        background-image: url(/public/img/tomate_fundo_perfil.jpg);
        padding: 20px;
        border-radius: 30px;
		border-style: solid;
		border-color: #568C03;
		background-position: center;
		background-size: cover;
    }

	.fundo-imagem-2 {
        background-image: url(/public/img/alface_fundo_perfil.png);
        padding: 20px;
        border-radius: 30px;
		border-style: solid;
		border-color: #568C03;
		background-position: center;
		background-size: cover;
    }

	.fundo-imagem-3 {
        background-image: url(/public/img/trigo_fundo_perfil.png);
        padding: 20px;
        border-radius: 30px;
		border-style: solid;
		border-color: #568C03;
		background-position: center;
		background-size: cover;
    }

	.coluna-centralizar {
		text-align: center;
	}

	.padding-bottom-texto {
		padding-bottom: 20px;
	}

	.margin-top-bottom {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.margin-icone {
		margin-right: 1rem;
	}

	.margin-bottom {
		margin-bottom: 30px;
	}

	.centralizar-conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

	.padding-top-nome-resumo {
        padding-top: 20px;
    }

	.coluna-padding-top {
		padding-top: 110px;
	}

	.fonte-preta {
		color: black;
	}

	.justificar-resumo {
        text-align: justify;
    }

	.link-none {
		text-decoration: none;
		color: white;
	}

</style>

<div class="imagem-fundo-teste">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 offset-md-4 coluna-padding-top coluna-centralizar pb-3">
				<h1 class="padding-bottom-texto">
					Fazendeiros
				</h1>
				<img src="/public/img/logo_oficial.svg" alt="Logo FarmerLink" width="150px">
			</div>
			<div class="col-md-10 offset-md-1 pb-3 pt-3">
				<form class="d-flex padding-bottom-texto" role="search" onsubmit="preventSubmit(event)">
					<input id="searchBar" class="form-control me-2" type="search" placeholder="Pesquisar nome do(a) fazendeiro(a)" aria-label="Pesquisar" oninput="search()">
				</form>				
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<%
				let icones = [
					'/public/img/icone_farmer_1.png',
					'/public/img/icone_farmer_2.png',
					'/public/img/icone_farmer_3.png',
				];
				let classes = [
					'fundo-imagem-1',
					'fundo-imagem-2',
					'fundo-imagem-3',
				];
			%>
			<% for (let i = 0; i < fazendeiros.length; i = i + 1) { %>
				<div class="col-md-10 offset-md-1 <%= classes[i % 3] %> margin-bottom buscar-fazendeiro">
					<div class="row align-center">
						<div class="col-md-3 centralizar-conteudo">
							<img src="<%= icones[i % 3] %>" width="170px" alt="Foto de perfil">
						</div>
						<div class="col-md-9 padding-top-nome-resumo">
							<h2 class="pb-3 fazendeiro-classe">
								<%= fazendeiros[i].nome %>
							</h2>
							<p class="justificar-resumo">
								<%= fazendeiros[i].resumo %>
							</p>
							<a href="/fazendeiro?id=<%= fazendeiros[i].id %>&icone=<%= encodeURIComponent(icones[i % 3]) %>&classe=<%= encodeURIComponent(classes[i % 3]) %>" class="link-none">
								<button type="button" class="btn btn-primary buttonzinho" onclick="limparSearchBar()">
									Editar Fazendeiro
								</button>
							</a>
							<a href="/perfil?id=<%= fazendeiros[i].id %>&icone=<%= encodeURIComponent(icones[i % 3]) %>&classe=<%= encodeURIComponent(classes[i % 3]) %>" class="link-none">
								<button type="button" class="btn btn-primary buttonzinho" onclick="limparSearchBar()">
									Visualização do Cliente
								</button>
							</a>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-md-1 coluna-centralizar pt-3">
			<p class="fonte-preta">
			<img src="/public/img/entrega_rapida.png" width="50px" alt="Ícone de caixa"/>
				Entrega rápida
			</p>
		</div>
		<div class="col-md-4 coluna-centralizar pt-3">
			<p class="fonte-preta">
			<img src="/public/img/qualidade_garantida.png" width="50px" alt="Ícone sinal positivo"/>
				Qualidade garantida
			</p>
		</div>
		<div class="col-md-3 coluna-centralizar pt-3">
			<p class="fonte-preta">
			<img src="/public/img/eco_friendly.png" width="50px" alt="Ícone folha"/>
				Eco friendly
			</p>
		</div>
	</div>
</div>

<script>
	function search() {
		let input = document.getElementById('searchBar').value.toLowerCase();

		let fazendeiros = document.querySelectorAll('.fazendeiro-classe');

		fazendeiros.forEach(fazendeiro => {
			let parent = fazendeiro.closest('.buscar-fazendeiro');
			if (input === "") {
				parent.style.display = '';
			} else if (fazendeiro.innerText.toLowerCase().includes(input)) {
				parent.style.display = '';
			} else {
				parent.style.display = 'none';
			}
    	});
	}

	function limparSearchBar() {
		document.getElementById('searchBar').value = '';
	}

</script>
