<style>
    h1 {
        font-weight: bold;
        font-size: 30px;
        color: black;
    }

    h2 {
        font-weight: bold;
        font-size: 25px;
        color: black;
    }

    p {
        color: black;
    }

    ::selection {
		color: white;
		background: #568C03;
	}

	.coluna-centralizar {
		text-align: center;
	}

    .fundo-imagem-1 {
        background-image: url(/public/img/tomate_fundo_perfil.jpg);
        min-height: 400px;
        background-size: cover;
    }

	.fundo-imagem-2 {
        background-image: url(/public/img/alface_fundo_perfil.png);
        min-height: 400px;
        background-size: cover;
    }

	.fundo-imagem-3 {
        background-image: url(/public/img/trigo_fundo_perfil.png);
        min-height: 400px;
        background-size: cover;
    }

    .espacamento-perfil {
        min-height: 400px;
    }

    .fundo-bege {
		background-color: #f8efe5;
		min-height: 400px;
	}

    .centralizar-conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .padding-top-nome-resumo {
        padding-top: 130px;
    }

    .fonte-cor-preta {
        color: black;
    }

    .justificar-resumo {
        text-align: justify;
    }

    .fundinho-verde {
        background-color: white;
        border-radius: 15px;
        border-color: #114f2d;
        border-style: solid;
        border-width: 5px;
    }

    .margin-top {
        margin-top: 10px;
    }

    .fonte-branca {
        color: white;
    }

    .margin-bottom {
        margin-bottom: 40px;
    }

    .fonte-verde {
        color: #568C03;
        text-align: center;
    }
</style>

<div class="fundo-bege">
    <div class="<%= classe %>">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 offset-md-1 centralizar-conteudo espacamento-perfil">
                    <img src="<%= icone %>" alt="Foto de perfil FarmerLink" class="centralizar-conteudo">
                </div>
                <div class="col-md-7 espacamento-perfil padding-top-nome-resumo">
                    <h2 class="pb-3 fonte-branca">
                        <%= fazendeiro.nome %>
                    </h2>
                    <p class="justificar-resumo fonte-branca">
                        <b><%= fazendeiro.telefone %></b>
                    </p>
                    <p class="justificar-resumo fonte-branca">
                        <%= fazendeiro.resumo %>
                    </p>
                </div>
            </div>
        </div>
    </div>    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 offset-md-4 margin-top">
                <h1 class="fonte-verde">
                    Catálogo
                </h1>
                <hr/>
            </div>
            <div class="col-md-10 offset-md-1 fundinho-verde margin-top margin-bottom">
                <%- fazendeiro.catalogo %>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 offset-md-1 coluna-centralizar pt-3">
			<p class="fonte-cor-preta">
			<img src="/public/img/entrega_rapida.png" width="50px" alt="Ícone de caixa"/>
				Entrega rápida
			</p>
		</div>
		<div class="col-md-4 coluna-centralizar pt-3">
			<p class="fonte-cor-preta">
			<img src="/public/img/qualidade_garantida.png" width="50px" alt="Ícone sinal positivo"/>
				Qualidade garantida
			</p>
		</div>
		<div class="col-md-3 coluna-centralizar pt-3">
			<p class="fonte-cor-preta">
			<img src="/public/img/eco_friendly.png" width="50px" alt="Ícone folha"/>
				Eco friendly
			</p>
		</div>
	</div>
</div>

<script type="text/javascript" src="/public/js/ckeditor/ckeditor.js"></script>

<script>
    CKEDITOR.replace("catalogo");

    // CKEDITOR.instances.catalogo.getData()
</script>